body {
    font-family: Arial, Helvetica, sans-serif;
    background: white
}

header {
    font-family: monospace;
    background: #f2f2f2
}

.cabec {
    text-align: center;
    border-radius: 3px;
    background: #f2f2f2;
    width: 500px;
    margin: 0 auto;
    padding: 40px;
    margin: 0 auto;
    margin-bottom: 10px
}

.Url {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-image: url('searchicon.png');
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.item {
    width: 50%;
    border-radius: 10px;
    background: #f2f2f2;
    padding: 20px;
    font-family: monospace;
    margin: 0 auto;
    margin-bottom: 10px
}

input {
    border: 1px solid black;
    border-radius: 6px;
}

textarea {
    border: 1px solid black;
    border-radius: 6px;
}

.imgitem {
    width: 20%;
    position: relative;
    right: -500px;
    top: -100px
}

.produtos {
    border-radius: 10px;
    background: rgb(179, 179, 161);
    padding: 20px;
    font-family: monospace;
    margin: 0 auto;
    margin-bottom: 10px
}

.item1 {
    font-family: monospace;
    width: 100px
}

.adc {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 20px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.remove {
    width: 40%;
    background-color: rgb(214, 66, 66);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.altera {
    width: 40%;
    background-color: green;
    color: white;
    border: none;
    border-radius: -4px;
    cursor: pointer;
    right: 5px;
}